<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cm-plugin-hybridmessaging"
        version="0.1.0">

    <name>HybridMessaging</name>
    <description>The Hybrid Messaging SDK for use in Cordova applications</description>
    <author>CM</author>
    <license>Copyright 2014-2016, CM</license>
    <keywords>push,voice,sms,hybrid messaging</keywords>

    <js-module src="www/hybridmessaging.js" name="hybridmessaging">
        <clobbers target="hybridmessaging" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HybridMessaging">
                <param name="ios-package" value="HybridMessagingPlugin"/>
            </feature>
        </config-file>

        <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
            <string>development</string>
        </config-file>
        <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
            <string>production</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>

        <header-file src="src/ios/HybridMessaging.h" />
        <source-file src="src/ios/libHybridMessaging.a" framework="true" />

        <header-file src="src/ios/HybridMessagingPlugin.h" />
        <source-file src="src/ios/HybridMessagingPlugin.m" />

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HybridMessaging" >
                <param name="android-package" value="com.cm.hybridmessagingplugin.HybridMessagingPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
                android:name="com.cm.hybridmessagingplugin.NotificationListenerStarterBroadcastReceiver" android:exported="true">
                <intent-filter android:priority="100">
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <category android:name="${applicationId}" />
                </intent-filter>
            </receiver>
        </config-file>

        <resource-file src="src/android/libs/HybridMessagingSDK-release.aar" target="libs/hybridmessaging.aar" />
	<framework src="src/android/hybridmessaging.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/HybridMessagingPlugin.java" target-dir="src" />
        <source-file src="src/android/HybridNotificationManager.java" target-dir="src" />
        <source-file src="src/android/NotificationListenerStarterBroadcastReceiver.java" target-dir="src" />
    </platform>
</plugin>
